

.App {
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: azure;
}

h1 {

  font-size: 40px;
}


.yet{
  color: black;
}

.done{
  color: gray;
  text-decoration: line-through;
  
}


.item:hover{
  cursor: pointer;
}

.item{
  font-size: 18px;
}